includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    reportUnmatchedIgnoredErrors: false
    paths:
        - public/index.php
        - bootstrap
        - routes
        - app

    excludePaths:
        analyse: # exclude dirs from analysis

            # - database/factories

        analyseAndScan: # exclude dirs from both analysis and scan
            # routes
            - routes/testing.php

    level: max

    tmpDir: /tmp/phpstan

    ignoreErrors:
        - "#PHPDoc tag @var#"
        - "#Cannot cast mixed to float#"